replicaCount: 1

image:
  repository: feelfeel200088/autismal
  tag: "latest"
  pullPolicy: IfNotPresent

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

secretName: autismal-discord-secret

nodeSelector: {}
tolerations: []
affinity: {}
